brief/brief-spring/src/main/resources/META-INF/myns.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://followtry.cn/schema/myns"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://followtry.cn/schema/myns"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <!---->
    <xsd:element name="dateformat">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:annotation></xsd:annotation>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="lenient" type="xsd:string"/>
                    <xsd:attribute name="pattern" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>